---
---
<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="{{ site.brand-color }}">
		<title>{{ site.title }}</title>
		<meta name="description" content="{{ site.description }}">
		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
		<link rel="canonical" href={{ site.url }}>
	</head>

	<body>

		<div class="jumbotron">
			{% include navtabs.html %}
			<div class="container">
				<h2 class="jumbotron__h2">{{ site.title }}</h2>
				<p class="jumbotron__p">Showcasing artistic creations whilst helping those in need</p>
				<div class="jumbotron__social">
					<a href="https://www.instagram.com/betteringmagazine/"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="grid">
				<div class="intro">
					<div class="grid__col grid__col--6-of-12 grid__col--push-3-of-12">
						<h3>About the magazine</h3>
					</div>
					<p class="grid__col grid__col--12-of-12">
						Bettering utilises the artistic talent of residents and friends to raise money and awareness for important issues. It encompasses everything Manor Hall is known for; it uses Manor's privilege to help those who are less privileged.
						<br>
						<br>
						This first issue is raising money for the refugee crisis. All profits go to Bristol Refugee Rights, an organisation that seeks to tackle an international crisis right here in Bristol.
						<br>
						<br>
						By supporting Manor Hall's magazine Bettering you strengthen Manor Hall's community, and use that unity to help others.
					</p>
				</div>
			</div>
		</div>

		{% include navbar.html %}

		{% include scripts.html %}

	</body>
</html>
