---
---
<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="{{ site.brand-color }}">
		<title>{{ site.title }}</title>
		<meta name="description" content="{{ site.description }}">
		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
		<link rel="canonical" href={{ site.url }}>
	</head>

	<body>

		<div class="jumbotron">
			<div class="container">
				<h2 class="jumbotron__h2">{{ site.title }}</h2>
				<p class="jumbotron__p">Showcasing artistic creations whilst helping those in need</p>
				<div class="jumbotron__social">
					<a href="https://www.instagram.com/betteringmagazine/"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="grid">
				<div class="intro">
					<div class="grid__col grid__col--6-of-12 grid__col--push-3-of-12">
						<h3>About the magazine</h3>
					</div>
					<p class="grid__col grid__col--12-of-12">
						Bettering utilises the artistic talent of residents and friends to raise money and awareness for important issues. It encompasses everything Manor Hall is known for; it uses Manor's privilege to help those who are less privileged.
						<br>
						<br>
						This first issue is raising money for the refugee crisis. All profits go to Bristol Refugee Rights, an organisation that seeks to tackle an international crisis right here in Bristol.
						<br>
						<br>
						By supporting Manor Hall's magazine Bettering you strengthen Manor Hall's community, and use that unity to help others.
					</p>
				</div>
				<!-- <div class="grid__col grid__col--12-of-12">
					<p>
						Nam in soleat lobortis, has malis ullum iriure id. At dolor facilisi sea, menandri sententiae constituam cum ne. Qui eu iriure sanctus. Assum voluptatum te duo, sit habeo prodesset ea. Diam temporibus his an, cu eam omnis veniam legere. Tempor necessitatibus ne eum, maluisset forensibus vim ei. Eum ne aeterno aperiri corpora, vis et nobis necessitatibus, quando vulputate in eam.
					</p>
					<p>
						Propriae pericula cotidieque vel et. In eam autem veniam eloquentiam, ei movet nusquam intellegam vel, an tamquam legimus graecis has. Sit ex habeo accusata. Has eirmod moderatius ne.
					</p>
					<p>
						Id soleat definitionem duo, eu mea posse movet alterum, mazim efficiantur mea ad. Ne quo erant nihil intellegebat, essent suscipiantur voluptatibus cum et, vis ea perpetua prodesset. Ex ignota feugiat consequat eam, ea possim pertinax vituperatoribus sit. Qui ne ipsum meliore, eu munere epicurei eum. An clita voluptua menandri eum, cum ei error zril. Ne justo postea dolorum nec, cu vel debet mediocrem.
					</p>
					<p>
						Mel aperiam indoctum et, mea facer audiam meliore eu. Hinc appellantur theophrastus usu ea, id fugit vitae meliore vel, nam accusam adipiscing ad. Cu vix vitae nonumes, eius volumus suscipiantur vim no. Denique scripserit ad usu, ius cu vidit probo nostrum. In vitae percipit abhorreant vel, sit at dictas instructior. Salutatus necessitatibus pro ei, vel eu virtute electram intellegam, vitae dicam vis ut. Mei at sadipscing conclusionemque.
					</p>
				</div> -->
			</div>
		</div>

		{% include navbar.html %}

		{% include scripts.html %}

	</body>
</html>
