<div class="gallery">
	{% for item in site.data.images %}
	<div class="js-image-view image-view grid__col grid__col--4-of-12">
		<img class="image-view__img" src="{{ item.image_path | prepend: site.imageurl | prepend: site.baseurl }}" />
		<p class="image-view__name">{{ item.name }}</p>
		<aside>{{item.info}}</aside>
	</div>
	{% endfor %}
</div>

<div class="js-lightbox-container lightbox-container">
	<div class="js-lightbox lightbox">
		<i class="js-lightbox-close lightbox__close fa fa-close"></i>
		<img class="lightbox__img" src="">
		<p></p>
	</div>
</div>
