.gallery-header {
	margin-left: 20px;
	font-size: 2em;
}

.gallery {
	display: block;
	max-width: 1000px;
	margin: 0 auto;
	column-gap: 1em;
	padding: 20px 20px 20px 20px;

	@media only screen and (min-width: 400px) {
		column-count: 2;
	}

	@media only screen and (min-width: 600px) {
		column-count: 3;
	}

	@media only screen and (min-width: 900px) {
		column-count: 4;
	}
}

.image-view {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 0 0 1em;
	cursor: pointer;

	aside {
		display: none;
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 40px;
		width: 100%;
		background-color: rgba(255,255,255,0.7);
	}
}

.image-view__img {
	width: 100%;
	height: auto;
}

.image-view__name {
	position: absolute;
	bottom: 0;
	margin-bottom: 5px;
	margin-left: 5px;
}

.lightbox-container {
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
	z-index: 10;

	&::before {
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
	}
}

.lightbox {
	width: 100%;
	max-width: 600px;
	max-height: 90%;
	position: relative;
	background-color: rgb(226, 226, 226);
	padding: 10px;
	padding-top: 23px;
	overflow: auto;
}

.lightbox-container--visible {
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: auto;
}

.lightbox__close {
	position: absolute;
	right: 5px;
	top: 3px;
	font-size: 18px;
	font-weight: 200;
	line-height: 18px;
}
