.jumbotron {
	position: relative;
	width: 100%;
	height: 75vw;
	background-color: $brand-color;
	padding: 16px;

	.container {
		height: 100%;
		max-height: 400px;
		max-width: 780px;
		margin: auto auto;
		position: relative;
		padding: 20px 10px 0px 10px;
	}

	a {
		color: #111;
	}
}

.jumbotron__h2 {
	font-family: $heading-font-family;
	font-size: 2em;
	margin-bottom: 5px;
}

.jumbotron__p {
	font-size: 1em;
}

.jumbotron__social {
	position: absolute;
	right: 0px;
	bottom: 10px;
	margin-right: 10px;
	margin-bottom: 10px;

	i {
		margin-right: 0.5em;
		margin-left: 0.5em;
		font-size: 1.7em;
	}
}

@media screen and (min-width: 420px) {
	.jumbotron {
		height: 65vw;
	}
}
@media screen and (min-width: 550px) {
	.jumbotron {
		height: 55vw;
	}
}
@media screen and (min-width: 900px) {
	.jumbotron {
		height: 75vh;
		background-image: url("https://betteringmag.github.io/img/cover.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: #EED;

		a {
			color: #EED;
		}

		i {
			font-size: 2.5em;
		}
	}
}
